In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [3]:
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
print(df[50])

KeyError: 50

In [6]:
df[1, ]

KeyError: (1,)

In [7]:
df.loc[50]

sepal_length           7.0
sepal_width            3.2
petal_length           4.7
petal_width            1.4
species         versicolor
Name: 50, dtype: object

In [12]:
new_df=df.loc[50:60,['species', 'petal_length', 'petal_width']]

In [10]:
new_df

       species  petal_length  petal_width
50  versicolor           4.7          1.4
51  versicolor           4.5          1.5
52  versicolor           4.9          1.5
53  versicolor           4.0          1.3
54  versicolor           4.6          1.5
55  versicolor           4.5          1.3
56  versicolor           4.7          1.6
57  versicolor           3.3          1.0
58  versicolor           4.6          1.3
59  versicolor           3.9          1.4
60  versicolor           3.5          1.0
61  versicolor           4.2          1.5

In [13]:
new_df=df.loc[50:60:2,['species', 'petal_length', 'petal_width']]

In [14]:
new_df

       species  petal_length  petal_width
50  versicolor           4.7          1.4
52  versicolor           4.9          1.5
54  versicolor           4.6          1.5
56  versicolor           4.7          1.6
58  versicolor           4.6          1.3
60  versicolor           3.5          1.0

In [15]:
df.groupy('species').sum('sepal_length')

AttributeError: 'DataFrame' object has no attribute 'groupy'

In [16]:
df.groupby('species').sum('sepal_length')

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             250.3        171.4          73.1         12.3
versicolor         296.8        138.5         213.0         66.3
virginica          329.4        148.7         277.6        101.3

In [17]:
df.groupby('species').median('sepal_length')

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.0          3.4          1.50          0.2
versicolor           5.9          2.8          4.35          1.3
virginica            6.5          3.0          5.55          2.0