In [6]:
import math

In [7]:
import numpy as np
import pandas as pd

In [8]:
import dateutil

In [9]:
def create_array(start, length, stop):
    step = math.floor((stop + start) / length)
    return np.arange(start, stop, length)
print(create_array(6,4,100))

[ 6 10 14 18 22 26 30 34 38 42 46 50 54 58 62 66 70 74 78 82 86 90 94 98]

In [10]:
a = np.array([1,2,3,np.nan,5,6,7,np.nan])

In [11]:
a = a[~np.isnan(a)]

In [12]:
print(a)

[1. 2. 3. 5. 6. 7.]

In [13]:
np.random.choice(100, 30)

array([37, 93, 56,  9, 11, 85, 56, 53, 51, 88, 56, 29, 41, 48,  0, 86, 70,
       99, 30, 41, 15, 41, 28, 97, 83, 18, 62, 84, 34, 21])

In [14]:
list = np.random.choice(100, 30)

In [15]:
print(list)

[39 14 21 73 61 71 12 38 61 60 54 28 25 24 61 46  4 13 43 38 33 98 95 79
 88  3 24 18 55 65]

In [16]:
numpy_arr = np.array(list)
a = numpy_arr.reshape((5,6))
x = np.amax(a, 1)
print(x)

[73 61 61 98 88]

In [45]:
series = pd.Series(np.take(x, 1), np.random.randint(16, size=500))

In [55]:
series = pd.Series(np.take(x, np.random.randint(16, size=500)))

In [50]:
print(series)

8     p
13    p
12    p
12    p
10    p
     ..
7     p
9     p
12    p
0     p
4     p
Length: 500, dtype: object

In [51]:
np.arange(0, 16)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [56]:
series = pd.Series(np.take(x, np.random.randint(16, size=500)))

In [57]:
print(series)

0      e
1      c
2      l
3      m
4      o
      ..
495    d
496    p
497    j
498    n
499    a
Length: 500, dtype: object

In [62]:
[*'abc']

['a', 'b', 'c']

In [65]:
series = pd.Series(np.take([*'abcdefghijklmnop'], np.random.randint(16, size=500)))

In [66]:
print(series)

0      m
1      i
2      o
3      p
4      d
      ..
495    o
496    i
497    e
498    o
499    b
Length: 500, dtype: object

In [67]:
series.value_counts()

c    43
e    38
k    38
g    37
n    36
a    35
l    33
b    33
j    32
i    31
o    29
m    27
p    26
h    25
f    19
d    18
dtype: int64

In [81]:
import dateutil as date
from dateutil import parser
from datetime import datetime

In [96]:
series = pd.Series(['01 Jan 2020', '10-19-2020', '20150303', '2013/04/04', '2012-05-05', '2013-06-06T12:20'])
for srs in series:
    day = parser.parse(srs).strftime("%d")
    print(day)
    
    week_number = parser.parse(srs).strftime("%U")
    print(week_number)
    
    day_year = parser.parse(srs).strftime("%j")
    print(day_year)
    
    day_week = parser.parse(srs).strftime("%A")
    print(day_week)

01
00
001
Wednesday
19
42
293
Monday
03
09
062
Tuesday
04
13
094
Thursday
05
18
126
Saturday
06
22
157
Thursday

In [17]:
new_file = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv")
types = new_file.dtypes.value_counts()
print(types)

float64    18
object      9
dtype: int64

In [112]:
new_file.rename(columns={'Type' : 'TypeOfCar'})

,Manufacturer,Model,TypeOfCar,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

In [19]:
new_file.drop(columns = {'EngineSize','Length'})

del new_file['EngineSize']
del new_file['Length']

In [28]:
df_1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                'weight': ['high', 'medium', 'low'] * 3,
                'price': np.random.randint(0, 15, 9)})

df_2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                'kilo': ['high', 'low'] * 3,
                'price': np.random.randint(0, 15, 6)})

df_2.merge(df_1)

   pazham  kilo  price  fruit weight
0   apple  high      6  apple   high
1  orange  high      6  apple   high
2   apple   low      4  apple   high

In [35]:
#9

In [33]:
df = pd.DataFrame(["STD,City\tState",
"33,Kolkata\tWest Bengal",
"44,Chennai\tTamil Nadu",
"40,Hyderabad\tTelengana",
"80,Bangalore\tKarnataka"], columns=['row'])
df



output = pd.DataFrame(df.row.str.split(',|\t',3).tolist(),columns=['STD','City','State'])
output

   STD       City        State
0  STD       City        State
1   33    Kolkata  West Bengal
2   44    Chennai   Tamil Nadu
3   40  Hyderabad    Telengana
4   80  Bangalore    Karnataka